h1 {
  color: #ffffff;
  font-style: italic;
  text-transform: capitalize;
  /*text-decoration: underline;*/
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
}

.title-container {
  background-color: black;
  text-align: center;
  border-radius: 10px;
}

img {
  width: 8%;
}

h2 {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

h3 {
  color: grey;
  font-family: 'Hi Melody', cursive;
  text-align: center;
}

hr {
  color: rgb(242, 112, 8) !important;
  background-color: rgb(242, 112, 8) !important;
  height: 5px;
  border-color: rgb(242, 112, 8);
}

body {
  background-color: rgb(240, 225, 25);
}
